/*
Wesley Oosterveen
Lewis Clement
*/

/*
Index:
    #headerbar
        ID voor het menu.
    #headerbar h1
        TextBug titel.
    #headerbar h2
        Menuitems text.
    #headerbar div
        Container voor knoppen in menu.
    #headerbar a
        Knop in het menu.

    a[role*="button"]
        <a> tags met deze role krijgen het uiterlijk van een knop.
    
    #buttonVerwijder
        Rode verwijderknop.

    .textRightAlign
        Plaatst stukje tekst rechts in pageElement.

    .pageElement
        Een container op de pagina. Alles komt in deze elementen te staan.
    .pageElement .datum
        Datum voor bovenaan in een pageElement.
    .pageElement .content
        Bericht voor in een pageElement.

    .flexRowSpace
        Een rij die objecten verspreid over de volle breedte van de parent element.
        Combineer met .pageElement of plaats in een .pageElement.

    .iconEdit
        Icoontje voor bewerken van berichten.

    .warningText
        Waarschuwingstext die getoont wordt als op de verwijderknop geklikt is.

    #footer
        De footer
*/

/* Fonts voor knoppen */
#headerbar h2, a[role*="button"] {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    background-color: #E5E5E5;
    margin: 0px;
}

#headerbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 3.5rem;
    top: 0px;
    min-padding-left: 0.8rem;
    
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0.06rem 0.24rem 0.12rem black;
}

#headerbar h1 {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

#headerbar h2 {
    font-size: 1.1rem;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: -0.2rem;
}

h4 {
    margin: 0px;
    font-size: 0.8rem;
}
h4.error {
    color: darkred;
}

#headerbar div {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: center;
    
    /* De width hier zorgt voor wat ruimte tussen de menuitems */
    width: 8rem;
    text-align: center;  
}

#headerbar div:last-of-type{
    width: auto;
    margin-right: 0.5rem;
}

/*a:link is de normale link, a:visited is de bezochte link*/
#headerbar a { 
    min-width: 7rem;
    text-decoration: none;
    color:black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/*a:hover is als je muis er boven staat, a:active is de link zodra er op geklikt word*/
#headerbar a:hover, a:active {
    background-color: #D5D5D5;
}

a[role*="button"] {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: 0.15rem solid black;
    margin: 0.24rem;
    width: 10rem;
    height: 1.6rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
    background-color: lightgrey;
}
a[role*="button"]:hover {
    cursor: pointer;
}
a[role*="button"]:active {
    width: 10rem;
    
    background-color: grey;
}

#buttonVerwijder {
    background-color: lightcoral;
}

.textRightAlign {
    margin-right: 0.5rem;
    align-self: center;
}

.pageElement {
    box-shadow: 0.12rem 0.12rem 0.4rem #888888;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    
    background-color: white;
    
    /* margin-top zorgt hier dat het eerste element niet bovenaan onder de menubar blijft */
    margin-top: 4.4rem;
    padding: 0.24rem;
    
    font-family: "Lucida Console", Monaco, monospace;
}

/* Maakt de margin-top in .pageElement ongedaan.
// Dit is gedaan omdat niet alle elementen 2cm van elkaar moeten staan.
// (de ~ operator heeft als effect dat deze style op een element B wordt toegepast als het element A volgt (A ~ B),
// in dit geval elke .pageElement die een .pageElement volgt en het effectief alleen niet op de eerste toegepast wordt) */
.pageElement ~ .pageElement {
    margin-top: 0.8rem;
}

.pageElement .datum {
    font-size: 0.6rem;
    margin-left: 0.25rem;
}

.pageElement .content {
    margin-left: 1.25rem;
}

.pageElement h2 {
    margin: 0.25rem;
}

.flexRowSpace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconEdit {
    float: right;
    margin: 0.25rem;
    
    width: 2rem;
    height: 2rem;
}
.iconEdit:hover {
    cursor: pointer;
}
.iconDown {
    margin: 0.25rem;
    
    width: 2rem;
    height: 2rem;
}
.iconDown:hover {
    cursor: pointer;
}

.warningText {
    text-align: center;
}

textarea, input[type*="text"], input[type*="password"], input[type*="number"] {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 0.96rem);
    resize: none;
    margin: 0.24rem;
    
    border: 0.15rem solid black;
    box-shadow: inset 0px 0px 10px -5px rgba(0,0,0,0.75);
}
input[type*="text"], input[type*="password"], input[type*="number"] {
    height: 1.5rem;
}

input.error {
    border-color:red;
    box-shadow: inset 0px 0px 10px -5px rgba(255,0,0,0.75);
}
input.error:hover, input.error:focus {
    border-color:darkred;
    box-shadow: inset 0px 0px 10px -5px rgba(255,0,0,0.5);
}
input.error:focus {
    border: 0.15rem solid black;
    box-shadow: inset 0px 0px 10px -5px rgba(0,0,0,0.75);
}

#footer {
    text-align: center;
    font-size: 0.5rem;
    padding: 1rem;
}
 
@media screen and (max-width: 35rem) {
    .pageElement {
        width: calc(100% - 0.24rem);
        margin-right: 0.15rem;
    }
    
    .flexAdjust {
        flex: 0.8;
    }
    
    .menuItem {
        background-color: white;
        border-right: 0.15rem solid black;
    }
    
    #headerbar .menuItem:last-child {
        border-bottom: 0.15rem solid black;
    }
    
    .menuItem:hover {
        background-color: lightgrey;
    }
    
    .menuItem a {
        display: block;
        text-align: left;
        padding-right: 2.2rem;
        padding-left: 2.2rem;
    }
    
    .menuItem:hover a {
        display: block;
        text-align: left;
        height: 100%;
        width: 100%;
    }
    
    #headerbar a:hover, a:active {
        background-color: lightgrey;
    }
    
    #headerbar {
        flex-direction: column;
        overflow: visible;
    }
    
    #headerbar h1 {
        margin-top: 0.8rem;
        margin-bottom: 0px;
    }
    
    #headerbar .menuItem {
        display: none;
    }
    
    #headerbar div:first-child {
        width: 12rem;
    }
    
    #headerbar:hover div:first-child {
        align-self: flex-start;
        background-color: white;
        border-right: 0.15rem solid black;
        width: 12rem;
        right: 0.8rem;
    }
    
    #headerbar:hover .menuItem {
        display: flex;
        width: 12rem;
    }
}

@media screen and (min-width: 35rem) and (max-width: 45rem) {
    .pageElement {
        width: 80%;
    }
    
    .flexAdjust {
        flex: 0.7;
    }
}

@media screen and (min-width: 45rem) {
    .pageElement {
        width: 75%;
    }
    
    .flexAdjust {
        flex: 0.6;
    }
}