/*
Wesley Oosterveen

*/

body {
    background-color: lightgrey;
}
aside {
    display: block;
    background: grey;
    max-width: 10%;
    text-align: center;
}
.contactgegevens{
    text-align: center;
    
}
.blok{
    text-align: center;
    margin: 4% 10% 10%;
    
   
}
