/*
Wesley Oosterveen
Lewis Clement
*/

/* Fonts voor knoppen */
#headerbar h2, .pageElement a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    background-color: #EEEEEE;
    margin: 0px;
}

#headerbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 3.5rem;
    top: 0px;
    
    background-color: white;
    box-shadow: 0 0.06rem 0.24rem 0.12rem grey;
}

#headerbar h1 {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

#headerbar h2 {
    font-size: 1.1rem;
}

#headerbar section {
    display: flex;
    flex: 0 1 auto;
    
    /* De width hier zorgt voor wat ruimte tussen de menuitems */
    width: 8rem;
    text-align: center;  
}

#headerbar section:last-of-type {
    position: absolute;
    right: 0px;
}

/*a:link is de normale link, a:visited is de bezochte link*/
#headerbar a { 
    text-decoration: none;
    background-color: white;
    color:black;
    width: 7rem;
}

/*a:hover is als je muis er boven staat, a:active is de link zodra er op geklikt word*/
#headerbar a:hover, a:active {
    background-color: lightgrey;
}

a.button {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
    
    border: 0.15rem solid black;
    margin: 0.24rem;
    width: 10rem;
    height: 1.6rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
    background-color: lightgrey;
}

a:active.button {
    width: 10rem;
    
    background-color: grey;
}

.textRightAlign {
    margin-right: 0.5rem;
    align-self: center;
}

.pageElement {
    box-shadow: 0.12rem 0.12rem 0.4rem #888888;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    
    /* margin-top zorgt hier dat het eerste element niet bovenaan onder de menubar blijft */
    margin-top: 4.4rem;
    padding: 0.24rem;
    
    font-family: "Lucida Console", Monaco, monospace;
}

.flexRowSpace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Maakt de margin-top in .pageElement ongedaan.
// Dit is gedaan omdat niet alle elementen 2cm van elkaar moeten staan.
// (de ~ operator heeft als effect dat deze style op een element B wordt toegepast als het element A volgt (A ~ B),
// in dit geval elke .pageElement die een .pageElement volgt en het effectief alleen niet op de eerste toegepast wordt) */
.pageElement ~ .pageElement {
    margin-top: 0.8rem;
}

.pageElement .datum {
    font-size: 0.6rem;
    margin-left: 0.25rem;
}

.pageElement .content {
    margin-left: 1.25rem;
}

#berichtFormText {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 0.96rem);
    resize: none;
    margin: 0.24rem;
    
    border: 0.15rem solid black;
    box-shadow: inset 0px 0px 10px -5px rgba(0,0,0,0.75);
}

#footer {
    text-align: center;
    font-size: 0.5rem;
    padding: 1rem;
}
 
@media screen and (max-width: 35rem) {
    .pageElement {
        width: 100%;
    }
}

@media screen and (min-width: 35rem) {
    .pageElement {
        width: 80%;
    }
}