/*
Wesley Oosterveen

*/
.titel{
    text-align: center;
    font-style: italic;
    

}
li{
    float:left;
}

/*list-style-type: none; haalt de bolletjes voor de list weg.*/
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-style: ridge;
    border-bottom-color: blue;
    background-color: black;
    
}
.lastAlignRight li:last-child{
    float:right;
}

/*a:link is de normale link, a:visited is de bezochte link*/
a:link , a:visited{ 
    display: block;
    background: black;
    width: 120px;
    text-align: center;  
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: small;
    
}
/*a:hover is als je muis er boven staat, a:active is de link zodra er op geklikt word*/
a:hover, a:active {
    background-color:Blue;
    border: 1px;
    border-style: solid;
    border-color: blue;
   
}
 